* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Inter;
}

header {
    width: 100%;
    max-width: 430px;
    background: url(./images/header.png) no-repeat center ;
    padding: 1em;
    font-family: Smythe;
    color: #ffffff;
    border-radius: 0 0  25px 25px;
}

main{
    width: 100%;
    max-width: 430px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    font-family: Smythe;
    margin: .8em 0;
    padding: .5em;
}

.item p {
    font-size: .85rem;
    margin-top: -.5em;
    padding: .5em 0;
}

.item > div{
    display: flex;
    justify-content: space-between;
    gap: 1em;

}
.item-description > h2, h3 {
    font-weight: 500;
}

.emoji{
    font-size: 3em;
}

.item>button{
    padding: .25rem;
    border: none;
    background: none;
    margin-top: .25em;
    cursor: pointer;
}

hr{
    border-bottom: 1px solid #DEDEDE; /* Creates a 1px solid gray line at the bottom */
    /* Or for a horizontal line using a div: */
    height: 1px;
    background-color: #DEDEDE;
    margin: 0 auto;
    width: 60%;

}