* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Inter;
}

header {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    background: url(./images/header.png) no-repeat center ;
    padding: 1em;
    font-family: Smythe;
    color: #ffffff;
    border-radius: 0 0  25px 25px;
}

main{
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 1em;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    font-family: Smythe;
    margin: .8em 0;
    padding: .5em;
}

.item p {
    font-size: .85rem;
    margin-top: -.5em;
    padding: .5em 0;

}

.item > div{
    display: flex;
    justify-content: space-between;
    gap: 1em;

}
.item-description > h2, h3 {
    font-weight: 500;
}

.emoji{
    font-size: 2.5em;
}

.item>button{
    padding: .25rem;
    border: none;
    background: none;
    margin-top: .25em;
    cursor: pointer;
}

.item img{
    width: 2.5rem;
    cursor: pointer;
}

hr{
    border-bottom: 1px solid #DEDEDE; /* Creates a 1px solid gray line at the bottom */
    /* Or for a horizontal line using a div: */
    height: 1px;
    background-color: #DEDEDE;
    margin: 0 auto;
    width: 60%;

}

#order{
    display: flex;
    flex-direction: column;
    font-family: Smythe;
    font-size: 1.25rem;
}

#order > h2 {
    text-align: center;
    font-weight: 400;
    margin: 1em 0;
}

#ordered-items {
    display: flex;
    flex-direction: column;
}

.selected-item{
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
}

.selected-item button{
    border: none;
    background: none;
    margin-left: .5em;
    color: #BBBBBB;
    cursor: pointer;
    color: red;
    opacity: 60%;
}

#order > hr{
    width: 98%;
    margin: 1em auto;
}

#order > button{
    margin-top: 2em;
    background-color: #16DB99;
    border: none;
    padding: 1em 0;
    color: #ffffff;
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

#total-price{
    display: flex;
    justify-content: space-between;
}

.selected-item >div >span{

    margin: 0 .5em;
}